@page
@model CBL_CasinoSuite.Pages.Games.BaccaratModel
@{
    ViewData["Title"] = "Baccarat";
}

@{
    if (Model.BetAmount == 0)
    {
        <div class="text-center board wood-border distincttext">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <form method="post" asp-page-handler="Bet">
                <input asp-for="@Model.BetAmountInput" type="number" placeholder="0.00" class="textfield" />
                <br />
                <button type="submit" class="wood buttonfield" value="Player" name="button">Bet Player</button>
                <button type="submit" class="wood buttonfield" value="Bank" name="button">Bet Bank</button>
            </form>
        </div>
    }
    else
    {
        <div class="text-center board wood-border distincttext">
            <h1>Baccarat - Bet: @Model.BetAmount</h1>

            <h2>Player:</h2>
            <h5>Total: @Model.CalculateHandTotal(Model.PlayerCards)</h5>
            <div class="cardcont">
                @foreach (Data.Models.Card card in Model.PlayerCards)
                {
                    <partial name="Partials/_CardPartial" model=card />
                }
            </div>

            <h2>Bank:</h2>
            <h5>Total: @Model.CalculateHandTotal(Model.BankCards)</h5>
            <div class="cardcont">
                @foreach (Data.Models.Card card in Model.BankCards)
                {
                    <partial name="Partials/_CardPartial" model=card />
                }
            </div>
            <h1>Outcome: @Model.Winner</h1>
            <form asp-page-handler="PlayAgain" method="post">
                <button class="wood buttonfield">Play Again</button>
            </form>
        </div>
    }
}

