@page
@model CBL_CasinoSuite.Pages.Games.BlackjackModel
@{
    ViewData["Title"] = "Blackjack";
}

@{
    if (Model.BetAmount <= 0) /* MAKE SURE THIS IS <= 0!!! */
    {
        <div class="text-center board wood-border distincttext">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <form method="post" asp-page-handler="BetMoney">
                <input asp-for="@Model.BetAmountInput" type="decimal" placeholder="0.00" class="textfield" />
                <br />
                <button type="submit" class="wood buttonfield">Bet Money</button>
            </form>
        </div>
    }
    else
    {
        <div class="text-center board wood-border distincttext">
            <h1>Blackjack - Bet: @Model.BetAmount</h1>
       
            <h2>Player:</h2>
            <h5>Total: @Model.CalculateHandTotal(Model.PlayerCards)</h5>
            <div class="cardcont">
                @foreach (Data.Models.Card card in Model.PlayerCards)
                {
                    <partial name="Partials/_CardPartial" model=card/>
                }
            </div>

            <h2>Dealer:</h2>
            @if (Model.Winner != Data.Models.Gambling.EndState.Unset)
            {
            <h5>Total: @Model.CalculateHandTotal(Model.DealerCards)</h5>
            }
            <div class="cardcont">
                @foreach (Data.Models.Card card in Model.DealerCards)
                {
                    <partial name="Partials/_CardPartial" model=card/>
                }
            </div>

            @if (Model.Winner == Data.Models.Gambling.EndState.Unset)
            {
                <form asp-page-handler="Hit" method="post">
                    <button class="wood buttonfield">Hit</button>
                </form>
                <form asp-page-handler="Stand" method="post">
                    <button class="wood buttonfield">Stand</button>
                </form>
            }
            else
            {
                <h1>Outcome: @Model.Winner</h1>
                <form asp-page-handler="PlayAgain" method="post">
                    <button class="wood buttonfield">Play Again</button>
                </form>
            }
        </div>
    }
}

