@using Data.Models
@model LibraryGameModel

<div class="wood-border board distincttext flex-container">
	@* Flex Layout*@
	@*
		Left Side:
		<img class="wood-border" src="Whatever the game image src is" *Add whatever else to make it look nice* />
	*@
	<img class="gameimage wood-border" src="@Model.ImgSrc" alt="@Model.GameName Image" />

	<div class="justify-content-center">
		<h1>@Model.GameName</h1>
		<p>@Model.Description</p>
		<a class="wood blacklink lightpadding" asp-page="@Model.PageName">Play Now</a>
		<a class="wood blacklink lightpadding" asp-page="Rules/@Model.GameName">Rules</a>
	</div>
</div>