@page
@using CBL_CasinoSuite.Data.Models
@model CBL_CasinoSuite.Pages.Account
@{
	ViewData["Title"] = "Account";
}

<div class="text-center board wood-border distincttext">
	<h1 class="display-4">@Model.user.Username</h1>
	<h2>Current Balance: @Gambling.NegativeBalanceToString(Model.user.CurrentBalance)</h2>
	<form method="post" asp-page-handler="UpdateBalance">
		<label>Add to Balance:</label>
		<input type="number" asp-for="UpdateBalance" placeholder="Money to Add..." step="0.01" min="1" />
		<br />
		<button type="submit" class="wood">Update Balance</button>
	</form>
	<h2>User Statistics</h2>
	@{
		double totalGains = 0;
		foreach (var stat in Model.user.GameStatistics)
		{
			totalGains += stat.TotalWinnings - stat.TotalLosings;
		}
	}
	<h3>Total Gains: @Gambling.NegativeBalanceToString(totalGains)</h3>

	@{
		if (Model.user.GameStatistics.Count > 0)
		{
			<h3>Stats By Game:</h3>
			<table class="whitetable">
				<tr>
					<td>Game</td>
					<td>Gains</td>
					<td>Wins</td>
					<td>Winnings</td>
					<td>Losses</td>
					<td>Losings</td>
				</tr>
				@{
					GameStats totalStats = new GameStats("Total");
					foreach (var stat in Model.user.GameStatistics)
					{
						totalStats.TotalWins += stat.TotalWins;
						totalStats.TotalWinnings += stat.TotalWinnings;
						totalStats.TotalLosses += stat.TotalLosses;
						totalStats.TotalLosings += stat.TotalLosings;
						<partial name="Partials/_PlayerStatPartial" model="stat" />
					}
					double tGains = totalStats.TotalWinnings - totalStats.TotalLosings;
					<tr>
					<td>@totalStats._GameName</td>
					<td>@Gambling.NegativeBalanceToString(tGains)</td>
					<td>@totalStats.TotalWins</td>
					<td>@totalStats.TotalWinnings.ToString("C2")</td>
					<td>@totalStats.TotalLosses</td>
					<td>@totalStats.TotalLosings.ToString("C2")</td>
				</tr>
				}
			</table>
		}
	}

	<form method="post" asp-page-handler="SignOut">
		<button type="submit" class="wood">Sign Out</button>
	</form>
</div>
