@page
@model CBL_CasinoSuite.Pages.SignIn
@{
ViewData["Title"] = "Sign in";
}

<div class="text-center board wood-border distincttext">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" asp-page-handler="SignIn">
		<input type="hidden" asp-for="@Model.PageRedirect" />
        <input asp-for="@Model.Username" type="text" placeholder="Username" class="textfield"/>
        <br/>
        <input asp-for="@Model.Password" type="password" placeholder="Password" class="textfield"/>
        <br/>
		    <label class="text-danger">@Model.SignInWarning</label>
		    <br />
        <button type="submit" class="wood textfield">Sign In</button>
    </form>
    <a asp-page="/SignUp" asp-route-PageRedirect="@Model.PageRedirect" class="wood blacklink lightpadding">Register</a>
</div>
